<tr>
  <td><%= link_to bed_detail.name, admin_bed_detail_path(bed_detail) %></td>
  <td><%= l bed_detail.created_at, format: :full %></td>
  <td><%= l bed_detail.updated_at, format: :full %></td>
</tr>
