@import 'color.scss';

.picture_medium{
  width: 300px;
  height: 300px;
  .full_picture_auto{
    width:100%;
    height: auto;
  }
}

body {
  background: $white-gray;
}

.review_title {
  margin: 0 0 20px 0;
}
.reviews {
  padding: 15px 0;
  border-bottom: 1px solid $gray-medium-light;
  .star-rating {
    padding-bottom: 8px;
  }
}
